<h1><%= folder.name %></h1>

<form method="POST" action="/files/upload" enctype="multipart/form-data">
    <input type="hidden" name="folderId" value="<%= folder.id %>" />
    <input type="file" name="file" required />
    <button type="submit">Upload to this folder</button>
</form>

<% folder.files.forEach(file => { %>
    <div>
        <a href="/files/<%= file.id %>"><%= file.name %></a>
        (<%= (file.size / 1024).toFixed(1) %> KB)
    </div>
<% }) %>